**/.git
**/.terraform/*
*.pem
*.tfstate
*.tfstate.*
*/.terraform
*/backend-init.conf
*/terraform.tfstate*
*/terraform.tfvars
*_override.tf
*_override.tf.json
*account.json
.DS_Store
.terraform
.terragrunt-cache
crash.log
override.tf
override.tf.json
sshkey*
